.root {
    width: 100%;
}

.nav {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #B3200A;
}

.icon {
    height: 3rem;
    margin-left: 1rem;
}

.title {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #ffffff;
}

.space {
    flex-grow: 1;
}

.userName {
    margin-right: 1rem;
    font-size: 1rem;
    color: #ffffff;
    cursor: default;
}

.main {
    width: 100%;
    min-height: calc(100vh - 4rem);
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}